
/* .merriweather-font-size-1 {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.inter-font-size-2 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
} */
body {
  background: #fff;
  width: 1320px;
  margin: auto;
}

/* share styles */
.font-1 {
  font-family: "Merriweather",;
}
.font-2{
  font-family: "Inter";
}


/* header styles */
.banner{
  border-radius: 16px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/Banner\ Image.png");
  background-repeat: no-repeat;
  /* padding and margin ei option ta shaoda er kaj kore so bhalo vabe dite       lagbe*/
  padding: 125px 220px;
  margin-top: 50px;
}
.happy-new-year{
  font-family: Merriweather;
  font-size: 32px;
  text-align: center;
  color: #fff;
}
.new-year-celebration{
  color: #fff;
  font-family: Merriweather;
  font-size: 72px;
  text-align: center;
  font-weight: 900;
  margin-top: 16px;
}


/* main styles */
/* section-1 */
.all-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 115px 240px;
}
.off{
  color: #FF0000;
  font-size: 85px;
  font-weight: bold;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 40px;
}
.holiday{
  color: #FF0000;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 0px;      
}
.categories{
  color: #070211;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 48px;
}
.new-year_img{
  /* logo er jonnw VVI importent */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

/* section */
.welcome{
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
   url("../images/Vectorrr.png");
  background-repeat: no-repeat;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 65px;
  padding: 40PX 100PX;
  margin-top: 0PX;
  margin-bottom: 120px;
  margin-right: 39px;
}
.party-text{
  margin-top: 0px;
  margin-bottom: 0px;
}
.party-title{
  color: #FFFFFF;
  font-size: 64px;
  font-weight: 500;
  margin-bottom: 0px;
}
.party-description{
  color: #FFFFFF;
  font-size: 18px;
  margin-top: 15px;
}
.btn-party{
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  background:none;
  border: none;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 50px;
  padding-left: 70px;
}
.img-party{
  margin-top: 0px;
}



