
/* .merriweather-font-size-1 {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.inter-font-size-2 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
} */
body {
  background: #fff;
  width: 1320px;
  margin: auto;
}

/* share styles */
.font-1 {
  font-family: "Merriweather",;
}
.font-2{
  font-family: "Inter";
}


/* header styles */
.banner{
  border-radius: 16px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/Banner\ Image.png");
  background-repeat: no-repeat;
  /* padding and margin ei option ta shaoda er kaj kore so bhalo vabe dite       lagbe*/
  padding: 125px 220px;
  margin-top: 50px;
  margin-bottom: 0px;
}
.happy-new-year{
  font-family: Merriweather;
  font-size: 32px;
  text-align: center;
  color: #fff;
}
.new-year-celebration{
  color: #fff;
  font-family: Merriweather;
  font-size: 72px;
  text-align: center;
  font-weight: 900;
  margin-top: 16px;
}


/* main styles */
/* section-1 */
.all-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 115px 240px;
}
.off{
  color: #FF0000;
  font-size: 85px;
  font-weight: bold;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 40px;
}
.holiday{
  color: #FF0000;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 0px;      
}
.categories{
  color: #070211;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 48px;
}
.new-year_img{
  /* logo er jonnw VVI importent */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

/* section */
.welcome{
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
   url("../images/Vectorrr.png");
  background-repeat: no-repeat;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 65px;
  padding: 40PX 100PX;
  margin-top: 0PX;
  margin-bottom: 0px;
  margin-right: 39px;
}
.party-text{
  margin-top: 0px;
  margin-bottom: 0px;
}
.party-title{
  color: #FFFFFF;
  font-size: 64px;
  font-weight: 500;
  margin-bottom: 0px;
}
.party-description{
  color: #FFFFFF;
  font-size: 18px;
  margin-top: 35px;
}
.btn-party{
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  background:none;
  border: none;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 50px;
  padding-left: 70px;
}
.img-party{
  margin-top: 0px;
}

/* main_section-3 */
.sub-destination {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 90px 380px;
  padding-bottom: 180px;
  margin-bottom: 120px;
}
.destination{
  background-color: rgb(245, 241, 241);
  margin-top: 120px;
  border-radius: 16px;
  width: 1300px;
}
.time-date-pladce{
  color: #FF0000;
  font-size: 32px;
  font-weight: 600;
  font-family: Inter;
  margin: 0px;
}
.venau{
  color: #070211;
  font-size: 32px;
  font-weight: 600;
  font-family: Inter;
  margin-bottom: 0;
}
.btn-click{
  color: #FFFFFF;
  padding: 16px 32px;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  border: 0;
  margin-top: 45px;
  background-color: #FF0000;
  border-radius: 10px;
}

/* section_4 styles */
.logo{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 75px;
  margin-top: 0px;
  margin-bottom: 120px;
}
.coming-offer{
  height: 250px;
}
.offer{
  color:#FF0000;
  font-size: 24px;
  font-weight: 500;
  font-family: Inter;
}
.coming{
  color: #070211;
  font-size: 48px;
  font-weight: black;
  font-family: Merriweather;
  margin-top: 16px;
  margin: 0px;
}
.offer-derection{
  color: rgba(7, 2, 17, 0.6);
  font-size: 15px;
  font-weight: 400;
  font-family: Inter;
  margin-top: 22px;
  /* paragraph er fonts size er elimant thik korar jonnw */
  /* padding: 200px;
  padding-top: 0px;
  padding-left: 0px; */
}
.year-text-img{
  margin-top: 80px;
  margin-right: 5px;
}
.year{
  color: #FF0000;
  font-size: 48px;
  font-weight: bold;
  font-family: Inter;
  margin-bottom: 16px;
}
.year-des{
  color: rgba(7, 2, 17, 0.6);
  font-size: 15px;
  font-weight: 400;
  font-family: Inter;
  margin-bottom: 43px;
}
.logo > img{
  /* note it part very VVI */
  height: 50%;
  width: 50%;
  border: 10px solid #f00;
  padding: 15px;
  border-radius: 50%;
}
#img-logo{
  /* margin and height width tik */
  margin-right: 70px;
  height: 400px;
  width: 400px;
}

/* section_5 Discount*/
.discount{
  /* height: 980px; */
  margin-top: 0px;
  margin-bottom: 120px;
}
.sub-discount{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 120px 64px 120px;
}
.headline-dis{
  color: #070211;
  font-size: 20px;
  font-weight: 500;
  font-family: Inter;
  margin-top: 0px;
  margin-bottom: 15px;
}
.title-dis{
  color: rgba(7, 2, 17, 1);
  font-size: 72px;
  font-weight: Black;
  font-family: Merriweather;
  margin-top: 0px;
  margin-bottom: 28px;
}
.color-holidays{
  color: #f00;
}
.description-dis{
  color: rgba(7, 2, 17, 0.6);
  font-size: 15px;
  font-weight: 400;
  font-family: Inter;
  margin-top: 0px;
  padding-left: 200px;
  padding-right: 240px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}
.offer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 240;
  margin-bottom: 0px;
}
.group-75 {
  width: 600px;
  height: 550px;
  padding-left: 50px;
  position: relative;
  margin-bottom: -150px;
  z-index: 3;
  top: 10px;
}
.group-44 {
  width: 300px;
  position: relative;
  margin-right: 200px;
  margin-bottom: 40px;
}
.red-line {
  width: 1320px;
  margin-top: -2.5px;
}

/* section_6 styles */
.product{
}
.product-content{
  margin-bottom: 45px;
}
.product-headline{
  color: rgb(230, 34, 34);
  font-size: 18px;
  font-weight: medium;
  font-family: Inter;
  margin-bottom: 16px;
}
.product-title{
  color: #070211;
  font-size: 35px;
  font-weight: black;
  font-family: Merriweather;
  margin-top: 0px;
  margin-bottom: 20px;
}
.product-description{
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  font-family: Inter;
  padding-right: 500px;
  text-align: left;
}
.product-img{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 24px;
}
.end-img{
  margin-bottom: 120px;
}
.box{
  height: 450px;
  width: 425px;
  transition: 1s;
}
.box:hover{
  transform: scale(1.1);
}